{% extends 'base.html' %}
{% block content %}
  <form action="/add_question" method='POST'>
    <div class="form-group">
      <label for="title">Podaj słówko</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="Cat">
    </div>
    <div class="form-group mt-2">
        <label for="title">Podaj prawidłową odpowiedź</label>
        <input type="text" class="form-control" name="validanswer" id="validanswer" placeholder="Cat">
      </div>
      <div class="form-group mt-2">
        <label for="badanswer1">Podaj pierwszą błędną odpowiedź</label>
        <input type="text" class="form-control" name="badanswer1" id="badanswer1" placeholder="Cat">
      </div>
      <div class="form-group mt-2">
        <label for="badanswer2">Podaj drugą błędną odpowiedź</label>
        <input type="text" class="form-control" name="badanswer2" id="badanswer2" placeholder="Cat">
      </div>
      <div class="form-group mt-2">
        <label for="badanswer3">Podaj trzecią błędną odpowiedź</label>
        <input type="text" class="form-control" name="badanswer3" id="badanswer3" placeholder="Cat">
      </div>
    <div class="form-group mt-2">
      <label for="category">Kategoria</label>
      <select class="form-control" name="category" id="category">
        {% for key, val in categories.items() %}
        <option value = {{ key }}>{{ val }} </option>
        {% endfor %}
      </select>
    </div>

    <button class="btn btn-outline-light btn-lg px-5 mt-5" type="submit">Dodaj pytanie</button>
  </form>
{% endblock %}